# Google Gemini
GOOGLE_API_KEY=
LLM_MODEL=you_model_llm

# STT
STT_PROVIDER=whisper_local
ELEVENLABS_API_KEY=
WHISPER_MODEL_SIZE=large-v3

# TTS
TTS_PROVIDER=oolel
TTS_VOICE_SAMPLE_PATH=app/assets/Vocal_1.m4a
HF_TOKEN=

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=mydb

# Audio output (généré par le TTS)
TMP_AUDIO_DIR=app/assets/audio
